* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: white;
    font-family: Lexend, sans-serif;
    text-align: center;
    overflow-x: hidden;
    padding: 2vw;
}

h1 {
    font-size: 4em;
    color: #ffffff;
    margin: 30vh 0 10vh 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #FFD700;
    text-decoration: none;
    font-size: 1.2em;
    transition: border-bottom-color 0.2s ease;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

a:hover { border-bottom-color: #FFD700; }

#charger { margin-top: 10vh; padding: 2.25vh; }

.loading { margin-bottom: 5vh; }

button {
    background-color: #57ad01;
    font-family: Lexend, sans-serif;
    color: black;
    border: none;
    padding: 2vw;
    margin: 2vw;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}

#characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    margin-top: 30vh;
}

#characters a {
    background-color: #222;
    padding: 1.5vh;
    border-radius: 10px;
    width: 25%;
    display: block;
}

#characters img {
    width: 100%;
    border-radius: 8px;
}

#search-button { margin-left: 0.25vw; }

#character-info { margin-top: 23vh; }

@media (max-width: 1024px)
{
    h1
    {
        font-size: 3em;
    }

    #characters a
    {
        width: 40%;
    }

    #character-info
    {
        margin-top: 15vh;
    }
}

@media (max-width: 768px)
{
    h1
    {
        font-size: 2.5em;
    }

    #characters a
    {
        width: 90%;
    }

    button
    {
        width: 80%;
    }

    #search-input
    {
        width: 80%;
        margin-bottom: 2vh;
    }

    #character-info
    {
        margin-top: 10vh;
    }
}