* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: white;
    font-family: Lexend, sans-serif;
    text-align: center;
    overflow-x: hidden;
    padding: 2vw;
}

h1 {
    font-size: 4em;
    color: #ffffff;
    margin: 30vh 0 10vh 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.characterInfo { margin-bottom: -15vh; }

.menu-link {
    color: #FFD700;
    text-decoration: none;
    font-size: 1.2em;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.2s ease;
}

.menu-link:hover {
    border-bottom-color: #FFD700;
}

#charger { margin-top: 10vh; padding: 2.25vh; }

.loading { margin-top: 0vh; margin-bottom: 10vh; }

button {
    background-color: #57ad01;
    font-family: Lexend, sans-serif;
    color: black;
    border: none;
    padding: 2vw;
    margin: 2vw;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s;
}

button:hover { transform: scale(1.05); }

#characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    margin-top: 10vh;
}

#characters a {
    background-color: #222;
    padding: 1.5vh;
    border-radius: 10px;
    width: 15vw;
    display: flex;
    color: #FFD700;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease;
}

#search-results a { display: flex;
    color: #FFD700;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease; }

#characters h2, #search-results h2, #characters p { border-bottom: 2px solid transparent; transition: border-bottom-color 0.2s ease; }

#characters a:hover h2, #characters a:hover p, #search-results a:hover h2 { border-bottom-color: #FFD700; }

#characters img { width: 100%; border-radius: 8px; }

#search-button { margin-left: 0.25vw; padding: 2vh 1vw; }

#search-input { padding: 1.25vh 0.25vw; width: 11vw; }

#character-info { margin-top: 23vh; }

#character-info img {
    background-color: #6d6d6d;
    padding: 1vh;
    border-radius: 10px;
    margin: 2vh 0;
}

.character-details { 
    background-color: #666666;
    padding: 1.5vh;
    border-radius: 10px;
    margin: 1vh auto;
    width: 50%; }

.character-details p { margin-bottom: 1vh; }

.backBtn { margin-top: 5vh;  display: inline-block; }

@media (max-width: 1024px) {
    h1 { font-size: 3em; }

    #characters a { width: 40%; }

    .characterInfo { margin: 15vh 0vw 0vh 0vw; }

    #character-info { margin-top: 15vh; }

    #search-input { width: 20%; margin-bottom: 2vh; }
}

@media (max-width: 430px) {
    h1 { font-size: 2.5em; }

    #characters a { width: 90%; }

    button { width: 25%; }

    #search-input { width: 80%; margin-bottom: 2vh; }

    #character-info { margin-top: 10vh; }

    .character-details { width: 70%; }
}